
<% if @user.name? %>
  <h2>Name:<%= current_user.name%></h2>
<%else%>
  <h2>Username : <%= current_user.username %></h2>
<%end%>
<h2>Email : <%= current_user.email %></h2>


<% if @user.image? %>
  <img src="<%= current_user.image %>" />
<%else%>
  <% if @user.avatar.exists? %>
    <%= image_tag @user.avatar.url(:medium), class: "img-circle" %>
  <% else %>
  <h3>You have not uploaded a photo, let's change that</h3>
    <%= form_for @user do |f| %>
      <div class="field">
        <%= f.label :avatar %><br />
        <%= f.file_field :avatar %>
        <%= f.submit "Add Image" %>
      </div>
    <% end %>
  <% end %>
  <%= link_to "Edit Profile", edit_user_registration_path(@user)%>
<% end %>

<p>Unhappy? Cancel my account <%= button_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %></p>
