<!-- <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
<script src='lib/jquery.min.js'></script>
<script src='lib/moment.min.js'></script>
<script src='fullcalendar/fullcalendar.js'></script> -->
<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>


<p id="notice"><%= notice %></p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Title:</strong>
  <%= @place.title %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
<br>
<%= link_to "New Even for the Place", new_place_meeting_path(@place)%>
<!--Calendar  -->
<div id="calendar"></div>z
<hr>

<div class="simple_calendar">
  <%= month_calendar do |date| %>
    <div id="plusButton">
      <%= date.day %> | <br>
      <%= button_to new_place_meeting_path(@place), class: "addEvent" do %>
        <strong>+</strong</>
      <%end%>
    </div>
  <%end%>
</div>

<h2>hey</h2>
