<!DOCTYPE html>
<html>
  <head>
    <title>TennisBuddy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Tennis Buddy", root_path, class:"navbar-brand"%>
          </div>

          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><%= link_to "Home", root_path %></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <% if current_user.name? %>
                    <li class = 'signin_as_margin'><span>Signed in as <%= link_to current_user.name, user_path(current_user)%></span></li>
                <%else%>

                  <li class = 'signin_as_margin'><span>Signed in as <%= link_to current_user.username, user_path(current_user)%></span></li>
                <%end%>

                <li class= "navbar-collapse"><%= link_to destroy_user_session_path, method: :delete do %>
                  <span class= "glyphicon glyphicon-log-out"></span>Sign Out
               <%end%></li>
              <%else%>

                <li><%= link_to new_user_registration_path do %>
                  <span class= "glyphicon glyphicon-log-out"></span>Sign Up
                <%end%></li>

                <li><%= link_to new_user_session_path do%>
                  <span class= "glyphicon glyphicon-log-in"></span>Sign In
                <%end%></li>
                <li><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></li>
                <li><%= link_to "Sign in with Facebook2", user_facebook_omniauth_callback_path %></li>

              <%end%>
            </ul>
          </div>
        </div>
      </nav>
    </div>

      <!-- <section class="img-responsive">
        <img class="img-responsive" src="http://tlaclub.com/wp-content/uploads/tennis-stock-photo-2.jpg" alt="" />
      </section> -->

    <div class="container">
      <p class="flash notice"><%= notice %></p>
      <p class="flash alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
